.single-table {
  height: calc(100% - 55px);
  padding: 10px;
  background-color: #eeeeee;
}
.table {
  overflow: hidden;
  border-radius: 10px;
  height: 610px;
}
.tree-table {
  height: calc(100% - 55px);
  padding: 10px;
  background-color: #eeeeee;
  display: flex;
  .table-box {
    // 这里减去的是 treeFilter 组件宽度
    width: calc(100% - 230px);
  }
}
