// Base color
$blue: #324157;
$light: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$pan-green: #30b08f;

// sidebar
$side-bar-width: 300px;
$sub-menu-bg: #1f2d3d;
$sub-menu-hover: #001528;
$sub-menu-active-text: #f4f4f5;
$menu-bg: rgb(50 65 87);
$menu-text: #162b64;
$menu-active-text: #435ebe;

// Login page
$light-gray: #eeeeee;
$dark-gray: #889aa4;
$login-bg: #2d3a4b;
$login-cursor-color: #ffffff;
